.checkout-success  {
	width: 94%;
	margin: 40px auto;

	.block-title {
		text-transform: uppercase;
	}

  .mark, mark {
    padding: .2em;
    background-color: #f5f5f5;
  }

  .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > tbody > tr td, .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > tbody > tr th {
  	text-align: left;
  }
}

body.checkout-index-index .pageset {
    padding-top: 0;
}